src/my_xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MENU" type="MENUType"/>
  <xs:complexType name="MENUType">
    <xs:sequence>
      <xs:element type="FOODType" name="FOOD" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FOODType">
    <xs:sequence>
      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Belgian Waffles"/>
            <xs:enumeration value="Strawberry Belgian Waffles"/>
            <xs:enumeration value="Berry-Berry Belgian Waffles"/>
            <xs:enumeration value="French Toast"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="price">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="$5.95"/>
            <xs:enumeration value="$7.95"/>
            <xs:enumeration value="$8.95"/>
            <xs:enumeration value="$4.50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="description">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Two of our famous Belgian Waffles with plenty of real maple syrup"/>
            <xs:enumeration value="Light Belgian waffles covered with strawberries and whipped cream"/>
            <xs:enumeration value="Light Belgian waffles covered with an assortment of fresh berries and whipped cream
"/>
            <xs:enumeration value="Thick slices made from our homemade sourdough bread"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="calories">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="650"/>
            <xs:enumeration value="900"/>
            <xs:enumeration value="600"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>